@using InvoiceTool.Mvc.ViewModels.Home

@model DashboardViewModel

<h1><a href="#"></a></h1>

<div class="row g-4 mb-5">
    <div class="col-md-4">
        <div class="card dashboard-card h-100">
            <div class="card-body">
                <h5 class="card-title">Total sales this year</h5>
                <p class="card-text">
                    @Model.TotalSalesThisYear.ToString("C0")
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card dashboard-card h-100">
            <div class="card-body">
                <h5 class="card-title">Total sales this month</h5>
                <p class="card-text">
                    @Model.TotalSalesThisMonth.ToString("C0")
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card dashboard-card h-100">
            <div class="card-body">
                <h5 class="card-title">Total pending invoices</h5>
                <p class="card-text">
                    @Model.TotalPendingInvoices.ToString()
                </p>
            </div>
        </div>
    </div>
</div>

<canvas id="revenueChart" class="revenueChart" height="100"></canvas>

<script>
    const labels = @Html.Raw(Json.Serialize(Model.MonthlyRevenueResult.Labels));
    const datasets = [];

    for (const [year, values] of Object.entries(@Html.Raw(Json.Serialize(Model.MonthlyRevenueResult.YearValues))))
    {
        datasets.push({
            label: year,
            data: values,
            backgroundColor: year == "2026" ? 'rgba(54, 162, 235, 0.7)' :
                             year == "2025" ? 'rgba(75, 192, 192, 0.7)' :
                             'rgba(255, 206, 86, 0.7)',
            borderColor: 'rgba(0,0,0,0.7)',
            borderWidth: 1
        });
    }

    new Chart(document.getElementById('revenueChart'), {
        type: 'bar',
        data: {
            labels: labels,
            datasets: datasets
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                        callback: value => '€ ' + value.toLocaleString()
                    }
                }
            }
        }
    });
</script>
