@using InvoiceTool.Application.Models

@model List<InvoiceLineModel>

@if (Model != null && Model.Count > 0)
{
    @foreach (var line in Model)
    {
        <tr data-id="@line.Id" id="row-@line.Id">
            <td><input id="description_@line.Id" type="text" class="form-control" value="@line.Description" onchange="updateInvoiceLine(@line.Id)" /></td>
            <td><input id="unit-price_@line.Id" type="number" class="form-control" value="@line.UnitPrice" step="0.01" onchange="updateInvoiceLine(@line.Id)" /></td>
            <td><input id="tax-percentage_@line.Id" type="number" class="form-control" value="@line.TaxPercentage" step="1" onchange="updateInvoiceLine(@line.Id)" /></td>
            <td><input id="quantity_@line.Id" type="number" class="form-control" value="@line.Quantity" step="0.01" onchange="updateInvoiceLine(@line.Id)" /></td>
            <td id="subtotal_@line.Id">@line.NetPrice</td>
            <td><button type="button" class="btn btn-danger" onclick="removeInvoiceLine(@line.Id)">Delete</button></td>
        </tr>
    }
}