@using InvoiceTool.Application.Models
@using InvoiceTool.Mvc.ViewModels
@using InvoiceTool.Mvc.ViewModels.Invoice

@model DownloadPdfViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        body {
            font-size: 16px;
            line-height: 1.55;
            font-family: 'Roboto', sans-serif;
            position: relative;
        }

        p, td {
            font-size: 1em;
            margin-bottom: 0;
        }

        h1 {
            font-size: 2.5em;
            margin-bottom: .25em;
        }

        .fs-lg {
            font-size: 1.4em;
        }

        .bold {
            font-weight: bold;
        }

        .w-125 {
            display: inline-block;
            width: 125px;
        }

        .w-50 {
            display: inline-block;
            width: 50px;
        }

        .center-text {
            text-align: center;
        }


        .row {
            width: 100%;
        }

        .row::after {
            content: "";
            display: table;
            clear: both;
        }

        .col-3, .col-4, .col-6, .col-8, .col-9 {
            box-sizing: border-box;
            float: left;
        }

        .col-3 {
            width: 25%;
        }

        .col-4 {
            width: 33.33%;
        }

        .col-6 {
            width: 50%;
        }

        .col-8 {
            width: 66.66%;
        }

        .col-9 {
            width: 75%;
        }

        .m-t-lg {
            margin-top: 2.5em;
        }

        .m-t-xl {
            margin-top: 4em;
        }

        .logo {
            width: 200px;
        }

        table {
            border-collapse: collapse;
            border: 0;
            width: 100%;
        }

        table tr {
            border-bottom: 1px solid #f9f9f9;
        }

        table tr td {
            border: 0;
        }

        table tr td:nth-child(2) {
            text-align: right;
        }
    </style>
</head>

<body>
@if (Model != null)
{
        <div class="row">
            <div class="col-8">
                <img class="logo" src="/images/searche-logo.png" />
            </div>

            <div class="col-4">
                <p>
                    <strong>@Model.Settings.CompanyName</strong><br />
                    @Model.Settings.CompanyAddress<br />
                    @Model.Settings.CompanyPostalCode @Model.Settings.CompanyCity
                </p>

                <p>
                    <span class="w-50">KVK:</span> @Model.Settings.CompanyCocNumber<br />
                    <span class="w-50">BTW:</span> @Model.Settings.CompanyVatNumber<br />
                    <span class="w-50">Bank:</span> @Model.Settings.CompanyIban
                </p>
            </div>
        </div>

        <div class="row m-t-lg">
            <div class="col-12">
                <p>
                    <strong>@Model.Customer.Name</strong><br />
                    @Model.Customer.Address <br />
                    @Model.Customer.PostalCode / @Model.Customer.City
                </p>
            </div>
        </div>

        <div class="row m-t-lg">
            <div class="col-12">
                <h1>Factuur</h1>
                <p>
                    <span class="w-125">Factuurnummer:</span> @Model.Invoice.Number<br />
                    <span class="w-125">Factuurdatum:</span> @Model.Invoice.DateValue<br />
                    <span class="w-125">Vervaldatum:</span> @Model.Invoice.ExpirationDateValue
                </p>
            </div>
        </div>

        <div class="row m-t-xl">
            @if (Model.Invoice.InvoiceLines != null && Model.Invoice.InvoiceLines.Count > 0)
            {
                <div class="col-9"><strong>Omschrijving</strong></div>
                <div class="col-3"><strong>Bedrag</strong></div>

                @foreach (InvoiceLineModel invoiceLine in Model.Invoice.InvoiceLines)
                {
                    <div class="col-9">
                        @invoiceLine.Description
                    </div>
                    <div class="col-3">
                        @invoiceLine.NetPrice
                    </div>
                }
            }
        </div>

        <div class="row m-t-lg">
            <div class="col-8">&nbsp;</div>

            <div class="col-4">
                <table>
                    <tr>
                        <td>Subtotaal</td>
                    <td>€ @Model.Invoice.GrossPrice</td>
                </tr>
                <tr>
                    <td>BTW</td>
                    <td>€ @Model.Invoice.TaxPrice</td>
                </tr>
                <tr>
                    <td>Totaal incl. BTW</td>
                    <td>€ @Model.Invoice.NetPrice</td>
                </tr>
            </table>

            <table class="m-t-lg">
                <tr class="to-pay">
                    <td><span class="fs-lg bold">Te betalen</span></td>
                    <td><span class="fs-lg bold">€ @Model.Invoice.NetPrice</span></td>
                </tr>
            </table>


        </div>
    </div>

    <div class="row m-t-lg center-text">
        <div class="col-12 text-center">
            @Model.Settings.InvoiceBottomContent
        </div>
    </div>
}
else
{
       <p>Error. No invoice found.</p>
}
</body>
</html>