@using InvoiceTool.Application.Models
@using InvoiceTool.Mvc.ViewModels
@using InvoiceTool.Mvc.ViewModels.Invoice

@model IndexInvoiceViewModel

<div>
    <div class="row mb-4">
        <div class="col-9">
            <h1>Invoices</h1>
        </div>
        <div class="col-3 text-end">
            <a class="btn btn-primary" asp-controller="Invoice" asp-action="Create">
                Create invoice
            </a>
        </div>
    </div>

    @if(Model?.Invoices?.Count > 0)
    {
        <table class="table">
            <tr>
                <th>Number</th>
                <th>Date</th>
                <th>Expiration date</th>
                <th></th>
            </tr>

            @foreach(InvoiceModel invoice in Model.Invoices)
            {
                <tr>
                    <td>@invoice.Number</td>
                    <td>@invoice.DateValue</td>
                    <td>@invoice.ExpirationDateValue</td>
                    <td class="text-end">
                        <a asp-action="ViewInvoice" asp-controller="Invoice" asp-route-id="@invoice.Id" class="btn btn-success me-2">
                            View
                        </a>

                        <a asp-action="Edit" asp-controller="Invoice" asp-route-id="@invoice.Id" class="btn btn-primary me-2">
                            Edit
                        </a>
                    
                        <button class="btn btn-danger" onclick="deleteInvoice(@invoice.Id)">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>No invoices found</p>
    }
</div>


@section Scripts {
    <script>
        function deleteInvoice(id) {
            let url = '@Url.Action("Delete", "Invoice")';

            deleteData(`${url}?id=${id}`, reloadPage);
        }
    </script>
}